<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise API</title>
  </head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <body>
    <img class="mx-auto d-block" style="max-width: 16rem;" alt="Chuck Norris Jokes Api - JSON API for random Chuck Norris jokes" src="/assets/img/chucknorris_logo_coloured_small@2x.png">
    <div class="form-group">
      <label for="exampleInputEmail1">Please subscribe to Chucnorris JOKES</label>
      <input type="email" class="form-control" [(ngModel)]="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <select #t (change)="categoryUpdated(t.value)" class="browser-default custom-select">
      <option selected>Select a category</option>
      <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
    <input class="form-control" [(ngModel)]="textToSearch" type="text" placeholder="Search" aria-label="Search">
    <button *ngIf="textToSearch && textToSearch.length >= 3" (click)="search(textToSearch)" class="btn btn-primary">Search</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Value</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let joke of data
              | paginate
                : {
                    id: 'listing_pagination',
                    itemsPerPage: 10,
                    currentPage: page,
                    totalItems: totalRecords
                  }
          "
        >
          <td>{{ joke.value}}</td>
          <td>
            <img src="{{ joke.icon_url}}" />
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      id="listing_pagination"
      maxSize="5"
      directionLinks="true"
      (pageChange)="page = $event"
    >
    </pagination-controls>
  </body>
</html>
